@tailwind base;
@tailwind components;
@tailwind utilities;

.star-wars-font {
  font-family: 'Star Jedi', sans-serif;
}
.floating-title {
  animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}



